@media screen and (max-width: 1200px) {
  .toolbar {
    margin: 80px 0 !important;
  }

  .toolbar__category {
    margin: 0 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .toolbar__category {
    margin: 0 !important;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 80px;
  width: 100%;
}

.toolbar__category {
  background: none;
  border: none;
  margin: 0 65px;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  cursor: pointer;
}

.toolbar__category:hover {
  color: #16cd53;
}

.active {
  color: #16cd53;
}
