.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
